@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}



html {
 padding: 0px 40px;
}

/*

NAVBAR AND CONTAINER HERE

*/
.container {
 width: 100%;
 min-height: 100vh;
 padding-left: 8%;
 padding-right: 8%;
 box-sizing: border-box;
 overflow: hidden;
}

.navbar {
 width: 100%;
 display: flex;
 align-items: center;

}

.logo {
 width: 120px;
 cursor: pointer;
 margin: 30px 0;
}

.menu-icon {

 width: 25px;
 cursor: pointer;
 display: none;
}

nav {
 flex: 1;
 text-align: right;

}

nav ul li {
 list-style: none;
 display: inline-block;
 margin-right: 30px;
 margin-top: -190px;

}

.home-cta {
 color: #F9601E;
}

nav ul li a {
 text-decoration: none;
 color: #ad1dc0;
 font-size: 19px;
 font-family: 'Titillium Web', sans-serif;
 ;
}

nav ul li a:hover {
 color: #F9601E;
}

.row {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 55px;

}

.col-1 {
 flex-basis: 45%;
 position: relative;
}

.col-1 h2 {
 font-size: 49px;
 color: #851f92;
 text-align: center;
 font-family: 'Ubuntu', sans-serif;

}

.col-1 h3 {
 font-size: 35px;
 color: #851f92;
 font-weight: 100;
 margin: 20px 0px 10px;
 text-align: center;
 font-family: 'Ubuntu', sans-serif;
}

button {
 align-items: center;
 width: 300px;
 font-size: 30px;
 border: 0;
 padding: 12px 10px;
 margin-left: 6rem;
 margin-top: 10px;
 outline: none;
 color: #fff;
 background: linear-gradient(to right, #F9601E, #ad1dc0);
 border-radius: 6px;
 cursor: pointer;
 transition: width .5s;
 font-family: 'Titillium Web', sans-serif;
}

button a {
 text-decoration: none;
 color: white;
 font-size: 30px;
}


button:hover {

 background: linear-gradient(to left, #ad1dc0, #ad1dc0);
}

button:active {

 background: linear-gradient(to left, rgb(102, 16, 114), rgb(102, 16, 114));
}



.col-2 {
 position: relative;
 flex-basis: 55%;
 display: flex;
 align-items: center;
}

.col-2 .heroImg {
 width: 90%;
 margin-left: 60px;
}

.color-box {
 position: absolute;
 right: 0;
 top: 0;
 background: linear-gradient(#F9601E, #ad1dc0);
 border-radius: 20px 0px 0px 20px;
 height: 100%;
 width: 80%;
 z-index: -1;
}

@media only screen and (max-width:700px) {
 html {
  padding: 0px 0px;
 }

 nav ul {
  width: 100%;
  background: black;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 2;
 }

 nav ul li {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

 }

 nav ul li a {
  color: white;
 }

 .home-cta {
  color: white;
 }

 .menu-icon {
  display: block;
 }



 #menuList {
  overflow: hidden;
  transition: .5s;
 }

 .row {
  flex-direction: column;
  margin: 50px 0px;
 }

 .col-2 {
  flex-basis: 100%;
  margin-top: 50px;
 }

 .col-2 .heroImg {
  margin-left: -.5px;
  margin-top: -75px;
 }

 .color-box {
  transform: translateX(40px);
  display: none;
 }

 .col-1 {
  flex-basis: 100%;
 }

 .col-1 h2 {
  font-size: 30px;
  margin-left: -17px;
 }

 .col-1 h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: -20px;
 }

 button {
  width: 300px;
  font-size: 20px;
  margin-left: 2px;
  outline: none;
 }


 .logo {
  width: 120px;
  cursor: pointer;
  margin: 30px -20px;
 }
}


/*

CAR SECTION HERE

*/

.sec {
 width: 100%;
 height: 150px;
 padding-right: 3%;
 margin-top: 100px;
 background-image: url(./img/sky.jpg);
 background-size: cover;
 background-position: center;
 position: relative;
 overflow-x: hidden;
}


.high-way {
 background-image: url(./road.jpg);
 height: 70px;
 width: 500%;
 position: absolute;
 display: block;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 1;
 background-repeat: repeat-x;
 animation: high-way 5s linear infinite;
}

@keyframes high-way {
 100% {
  transform: translateX(-3400px);
 }
}

.city {
 height: 200px;
 width: 500%;
 background-image: url(./city.png);
 position: absolute;
 bottom: 70px;
 left: 0;
 right: 0;
 display: block;
 z-index: 1;
 background-repeat: repeat-x;
 animation: city 20s linear infinite;
}

@keyframes city {
 100% {
  transform: translateX(-1400px);
 }
}

.car {
 width: 149px;
 left: 50%;
 height: 50px;
 top: 80px;
 transform: translateX(-50%);
 position: absolute;
 z-index: 2;

}

.car img {
 width: 160px;

 animation: car 1s linear infinite;

}

@keyframes car {
 100% {
  transform: translateY(-1px);
 }

 50% {
  transform: translateY(1px);
 }

 0% {
  transform: translateY(-1px);
 }
}


.wheel {
 left: 50%;
 bottom: 60px;
 transform: translateX(-50%);
 position: absolute;
 z-index: 2;
}

.wheel img {
 width: 30px;
 height: 30px;
 animation: wheel 1s linear infinite;
}

.back-wheel {
 left: -61px;
 top: 25px;
 position: absolute;
}

.front-wheel {
 left: 36.5px;
 top: 25px;
 position: absolute;
}

@keyframes wheel {
 100% {
  transform: rotate(360deg);
 }

}

.title {
 margin-top: 100px;
 align-items: center;
 align-content: center;
 font-family: 'Titillium Web', sans-serif;
 font-size: 30px;
}

.title h3 {
 text-align: center;
}

.title h3 span {
 color: #851f92;
}


.services {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 100%;
 min-height: 50vh;
 padding-left: 8%;
 padding-right: 8%;
 box-sizing: border-box;
 overflow: hidden;

}


.services .box {
 position: relative;
 margin-top: 25px;
 height: 40vh;
 width: 350px;
 padding: 40px;
 background: rgb(255, 255, 255);
 box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
 border-radius: 4px;
 overflow: hidden;
 text-align: center;
}


.services .box .icon {
 position: relative;
 width: 60px;
 height: 60px;
 color: #fff;
 background: #000;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 border-radius: 50%;
 font-size: 40px;
 font-weight: 700;
 transition: 1s;
}

/*First box*/
.services .box:nth-child(1) .icon {
 box-shadow: 0 0 0 0 #F9601E;
 background: #F9601E;
}

.services .box:nth-child(1):hover .icon {
 box-shadow: 0 0 0 400px #F9601E;

}

/*Second box*/
.services .box:nth-child(2) .icon {
 box-shadow: 0 0 0 0 #ad1dc0;
 background: #ad1dc0;
}

.services .box:nth-child(2):hover .icon {
 box-shadow: 0 0 0 400px #ad1dc0;

}




/*Third box*/
.services .box:nth-child(3) .icon {
 box-shadow: 0 0 0 0 #F9601E;
 background: #F9601E;
}

.services .box:nth-child(3):hover .icon {
 box-shadow: 0 0 0 400px #F9601E;

}


/*Card Content*/

.services .box .content {
 font-family: 'Titillium Web', sans-serif;
 position: relative;
 z-index: 1;
 transition: 0.5s;
}

.services .box:hover .content {
 color: #fff;
}

.services .box .content h3 {
 font-size: 20px;
 margin: 10px 0;
 padding: 0;
}

.services .box .content p{
 margin: 0;
 padding: 0;
 
}